<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js" ></script> 
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="icon" href="Saldiri.png" type="image/gif" sizes="16x16">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="libs/jquery.slimscroll.min.js"></script>
    <link rel="stylesheet" href="/index.css">
    
    <title>BLOGING</title>

    
   
</head>
<body >


  <%- include('base.ejs'); -%>

  <center>
        
     
      <div style="display: none;" class="banner_images">
        <img class="first" src="../Untitled-1.png"/>
        <br>
        <img class="second" src="../Group 1.png"/>
        <br>
      </div>
      <div  class="form" style="width: 77%;">
      <form action="/search" id="search_frm" method="GET" >
        <input name ="search" type="text" placeholder="      Search.." />
          </form> 
      </div>
     

      
     <div class="wrap" >

    
    
    <% posts.length > 0 && posts.slice().reverse().forEach((post) => { %>
     
        
       

        <div class="card " >
          <% if(verified && post.accountid==id) { %>
              <div class="col-12 editdellete">
                  <a   class="btn  deleteBtn"><img src="./delete.png" onclick="myFunction('<%= post.id %>','<%= Truncate(post.title,100)%>')" class="delete_img"/></a>
                  <a  href="/edit/<%= post.id %>" id="edit_btn<%= post.id %>" class="btn  editBtn"><img src="./edit.png" class="edit_img"/></a>
              </div>
              
              <% } %>
          <div class="row">
            <div class="col-10"><div class="card-body">
              <h5 title="" class="card-title"><%= Truncate(post.title, 100)%></h5><p class="card-text"> <small class="date"><span>Written by : <%= post.username %> ,  &nbsp;</span>  <%= dateformat__(post.post_date,"d/m/yyyy") %></small></p>
              <div class="content content_width"><%- post.content%></div>
            </div>
          </div>
           
          
            <div class="col-2">
              <img src="<%=post.image%>" class="mr-3 rounded-circle" alt="Sample Image">
              
              </div>
          </div>
          <div class="row">
            <div class="col-12 border-bottom"></div>
          </div>




          <div class="row cardrow d-flex justify-content-between flex-row">


            <div class="count ">


              <img src="../like.png" class="like"/>
              <span class="like1"><%= post.likes %></span>
              <img src="../chat-comment-oval-speech-bubble-with-text-lines.png" class="comments"/>
              <span class="comments1">
                <%= post.number_of_comments %>
              </span>
              <img src="../visibility.png" class="views"/>
              <span class="views1">
                <%= post.views %>
              </span>


            </div>
            
            <div class="">

              
              <a  href="/post?id=<%= post.id %>" id="read_btn<%= post.id %>" class="btn  readBtn"><img src="../file.png" class="read_img"/></a>


           
            
         
         
            


        
            
          
        
        
     
      <div class="row">
        
        
      </div>
      
        
       <br>
       
                <script>



                  $('#read_btn<%= post.id %>').on('click', function() {
                    $.ajax({
                          type: 'POST',
                          url: '/views',
                           data: { id: "<%= post.id %>"}
                        
                        }).done(function(data) {
                         
                         
                                });
                  }) 
                   
                
                    
                    
                    
                    
                    </script>
                
               


              </div>
            </div>
        </div>

    <% }); %>
  </div>
    </center>
  
    <nav>
      <ul class="pagination justify-content-center" data-pagenum=0>

          <li class="page-item"><a onclick="pagination_prev(this)"  class="page-link">Previous</a></li>
          <% if(posts.length > 0) { %>
          <li class="page-item"><a onclick="pagination_next(this)" class="page-link">Next</a></li>
          <% } else { %>
            <li class="page-item" disabled><a class="page-link">Next</a></li>
          <% } %>
          
      </ul>
  </nav>
  <footer class="foot">
    <div class="search">
      
    </div>
    
  </footer>
  
  <script>
    function search(){
      localStorage.setItem("page",0);
    }
    $( document ).ready(function() {
      
      if(typeof(Storage) !== "undefined") {
      if (localStorage.page) {
        console.log("page is defined");
        console.log(localStorage.getItem("page"));
      } else {
        localStorage.setItem("page",'0')
      }
  }
});

    function pagination_prev(obj){
      
      var currentPage = localStorage.getItem("page") == undefined ? 0 : parseInt(localStorage.getItem("page"));
      if(currentPage>1)
      {
        var nextPageProps = getPagingRoute('p',currentPage);
      var currentPageNextVal = currentPage - 1;
      localStorage.setItem("page",currentPageNextVal);
      window.location.href = "/?skip=" + nextPageProps.skip;
      }
      
      }

    
    function pagination_next(obj){
      
      var currentPage = localStorage.getItem("page") == undefined ? 0 : parseInt(localStorage.getItem("page"));
     
        var nextPageProps = getPagingRoute('n',currentPage);
      var currentPageNextVal = currentPage + 1;
      localStorage.setItem("page",currentPageNextVal);
      window.location.href = "/?skip=" + nextPageProps.skip;
     
      
    }

    function getPagingRoute(mode,currentPage){
      
     
      // currentPage = currentPage == 0 ? 1 : currentPage;
      var pageSize = 5;
      var skip = 0;
        if(mode=='n'){
          currentPage ++;
        }
        else{
            currentPage--;
        }

        skip = (currentPage * pageSize) - pageSize;
        
        
          return {"limit":5, "skip":skip};
    }

  </script>

    <br>
    

<script>
 $(document).ready(() => {
       
    $('.search').keypress((e) => {
  
        // Enter key corresponds to number 13
        if (e.which === 13) {
            $('search_frm').submit();
            
        }
    })
  });
</script>
<script>
  function myFunction(id,title) {
 var result = confirm("Are you sure u want to delete!"+title);
 if(result){
  window.location.href = "/delete/"+id
    }

   }

    
</script>
    

</body>

</html>