<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../read.css">
    <link rel="stylesheet" href="../index.css">
    <link rel="stylesheet" href="../new.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script type="text/javascript" src="https://js.pusher.com/3.2/pusher.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
    <script src="../js/read.js"></script>
  
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
    <title>blog</title>
</head>

<body>

    
  <%- include('base.ejs'); -%>
  <center>
  
  <div class="row">
    <div class="col-2"></div>
    <div class="col-9"><p class="tittle"><strong><%= post.title %></strong></p></div>
    
    
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-5 icons">
   <img src="../like.png" class="like"/>
      <span id="like_"><%= post.likes %></span>
     <img src="../chat-comment-oval-speech-bubble-with-text-lines.png" class="comments"/>
     <span id="comments__">
      <%= comments_count%>
     </span>
     <img src="../visibility.png" class="views"/>
     <span>
       <%= post.views %>
     </span></div>
    <div class="col-4"><small class="date1"><span>Written by: <%= post.username %> , &nbsp;</span> <%= dateformat__(post.post_date,"d/m/yyyy") %></small></div>
     <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-10 center-img">
      <img src="/<%=post.image%>" class="img-fluid" alt="Responsive image">
      
    </div>
  </div>
  <br>
  <br>
</center>
  <center>
  <div class="row col-8">

    <%- post.content%>

  </div>
</center>
   <center>
                <span>views: <%- post.views %></span>
        <span>like: <span id="like_counter"><%- post.likes %></span></span>
        <span>comments:<span id="comments_count"><%= comments_count%></span></span>
         <hr class="col-8" style="background-color: #3b5999;">
        <% if(verified) { %>
          <div class="row">
            <div class="col-8"></div>
            
            <div class="col-4">
              <img id="likeimg" src="../like.png"   class="post_like likes"  alt="like image">
              <img id="likedimg" src="../likeb.png"   class="post_liked likes"  alt="liked image"> <span id="btnlike" class="likebutton" style="outline: none;" ></button> like </button></div>
           
          </div>
          <div class="row">
           
            <div class="col-3">
            <p class="button1" >post comment</p>
          </div>
          <div class="col8"></div>
        </div>
          <hr class="col-8" style="background-color: #3b5999;">
              <div class = "col-8 container">
            
            <br>
              <div class="row">
               <div class="col-12"><textarea  rows="7"  id="comment_box" class="col-12 commentbody" ></textarea></div>
                
            </div>
          <div class="row " >
            <div class="col-11"></div>
            <div class=" col-1 sendbutton">   
             <button class="sndbutton"  style="outline: none;"  onclick="post_comment('<%- post.id %>','<%- accountid_ %>')"><img src="../send (1).png"  class="post12" alt=""></button>
     </div>
        </div>
                 </div>
           
              <br>
              <br>
          <div id="comment_area">
            <% comments.length > 0 && comments.slice().reverse().forEach((comment__) => { %>
           <div class="card col-8">
             <span id="comment_text"><%= comment__.comments %></span>
             <hr>
             <p class="card-text"> <small class="date"><span>Written by : <%= comment__.username %> ,  &nbsp;</span> <%= dateformat__(comment__.comment_date,"dd/mm/yyyy") %></small></p>
             
           </div>
           <% }); %>
          </div>
          <% } else { %>
            <span class="bottom">login to like and comment on this blog</span>
            <br>
            
            <% } %>
            
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <a href="/">
                  <img src="../Group 2.png" class="back" alt=" ">
              </a>
          </div>
         <br>
         <br>
       
      </center>
      
    

</body>